<?xml version="1.0" encoding="UTF-8"?>

<beans xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

<!-- 컨트롤러 나중에 -->
	
	<bean class="controller.exController"></bean>	
	<bean class="controller.MemberController"></bean>
	
	
	<!-- 서비스 등록 일단 지금 여따가 해둠 -->
	
	<bean id="memberService" class="service.MemberService"></bean>
</beans>